@media (max-width: 980px) {
    header {
        padding: 1.0rem 2rem;
        padding: 0;
        display: block;
    }
    
    header div {
        justify-content: space-between;
        padding: 1.0rem 1.4rem;
    }
    
    header h1 {
        font-size: 1.5rem;
    }
    
    #toggleBtn {
        display: block;
    }
    
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        flex-grow: 3;
        flex-wrap: wrap;
        align-content: start;
        text-align: left;
        margin-top: 1rem;
        background: var(--white);
        margin: 0;
        padding: 0.0rem 0rem;
        border: none;
    }
    
    nav a {
        color: #444;
        text-align: left;
        width: 100%;
        padding: 1rem;
    }
    
    nav a:hover {
        padding-left: 2rem;
        color: #444;
    }
    
    nav a.active {
        color: rgba(6, 116, 42, 1);
        border-radius: 0.0rem;
        font-weight: 900;
    }
    
    nav.open {
        display: flex;
    }
} 