:root {
    /* ——— Colour Schema
    */
    --azureblue: rgba(9, 94, 165, 1);
    --primary: #065674;
    --tealblue: rgba(15, 66,133, 1.0) /* #0F4284; /* 1526A5 */
    --accent1-color: #09A53C;
    --accent2-color: #06742A;
    --white: #FFF;
    --black: #000;
}

/*
Change through declaration within the media
query the header to a black background with 
white text

Change the main element to display two columns 
of equal size.
*/

@media screen and (min-width: 500px) {
    header {
        background: var(--black);
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}